<p id="notice"><%= notice %></p>

<h1>Advertencias</h1>

<table>
  <thead>
    <tr>
      <th>Advdate</th>
      <th>Reason</th>
    </tr>
  </thead>

  <tbody>
    <% @advertencias.each do |advertencia| %>
      <tr>
        <td><%= advertencia.advdata %></td>
        <td><%= advertencia.reason %></td>
  
    <td>
      <%= link_to 'Mostrar', action: 'show', id: advertencia %>
    </td>
    
    <td>
      <%= link_to 'Deletar', {action: 'destroy', id: advertencia},
                         {method: "delete"}  %>
    </td>

    <td>
      <%= link_to 'Editar', action: 'edit', id: advertencia%>
    </td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<td>
      <%= link_to 'Novo', action: 'new'%>
</td>
