<!DOCTYPE html>
<html>
<head>
  <title>Omega</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- devise -->
	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<!-- fim devise -->

	<% if admin_signed_in? %>
		<ul>
			<li><%= link_to 'Ajustes na Conta', edit_admin_registration_path %></li>
			<li><%= link_to 'Sair', destroy_admin_session_path, :method => :delete %></li>
		</ul>
	<% else %>
		<ul>
			<li><%= link_to 'Entrar', new_admin_session_path %></li>
		</ul>
	<% end %>

<%= yield %>

</body>
</html>
